# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual Environments
env/
venv/
.venv/

# VSCode
.vscode/

# System
.DS_Store
Thumbs.db

# Logs
*.log

# Build
dist/
build/
*.egg-info/

# Secrets
.env

# Compressed
*.zip
